.power {
  padding: 20px;
  width: 50px;
  height: 95px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 20%), 0 0 1px 2px black,
    inset 0 2px 2px -2px white, inset 0 0 2px 15px #47434c,
    inset 0 0 2px 22px black;
  perspective: 700px;
}

.power input {
  display: none;
}

.power input:checked + .button {
  box-shadow: 0 -10px 20px yellow;
  transform: translateZ(20px) rotateX(25deg);
}

.power input:checked + .button .light {
  animation: flicker 0.2s infinite 0.3s;
}

.power input:checked + .button .shine {
  opacity: 1;
}

.power input:checked + .button .shadow {
  opacity: 0;
}

.power .button {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(olive 0%, #575700 30%, #575700 70%, olive 100%);
  background-color: #9b0621;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: translateZ(20px) rotateX(-25deg);
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  transform-origin: center center -20px;
  transform-style: preserve-3d;
}

.power .button::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(
        rgb(255 255 255 / 80%) 10%,
        rgb(255 255 255 / 30%) 30%,
        #4d4d00 75%,
        #1a1a00
      )
      50% 50%/97% 97%,
    #990;
  background-repeat: no-repeat;
  transform: rotateX(-90deg);
  content: "";
  transform-origin: top;
}

.power .button::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(#4d4d00, #1a1a00);
  box-shadow: 0 50px 8px 0 black, 0 80px 20px 0 rgb(0 0 0 / 50%);
  transform: translateY(50px) rotateX(-90deg);
  content: "";
  transform-origin: top;
}

.power .light {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#a6ff66, yellow 40%, transparent 70%);
  opacity: 0;
  animation: light-off 1s;
}

.power .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent 30%, rgb(77 77 0 / 70%) 70%);
  background-size: 10px 10px;
}

.power .characters {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, white) 50% 20%/5% 20%,
    radial-gradient(
        circle,
        transparent 50%,
        white 52%,
        white 70%,
        transparent 72%
      )
      50% 80%/33% 25%;
  background-repeat: no-repeat;
}

.power .shine {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, transparent 3%) 50% 50%/97% 97%,
    linear-gradient(
        rgb(255 255 255 / 50%),
        transparent 50%,
        transparent 80%,
        rgb(255 255 255 / 50%)
      )
      50% 50%/97% 97%;
  background-repeat: no-repeat;
  opacity: 0.3;
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
}

.power .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 70%, rgb(0 0 0 / 80%));
  background-repeat: no-repeat;
  opacity: 1;
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes light-off {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
}

.power {
  padding: 20px;
  width: 150px;
  height: 195px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 20%), 0 0 1px 2px black,
    inset 0 2px 2px -2px white, inset 0 0 2px 15px #47434c,
    inset 0 0 2px 22px black;
  perspective: 700px;
}

.power input {
  display: none;
}

.power input:checked + .button {
  box-shadow: 0 -10px 20px yellow;
  transform: translateZ(20px) rotateX(25deg);
}

.power input:checked + .button .light {
  animation: flicker 0.2s infinite 0.3s;
}

.power input:checked + .button .shine {
  opacity: 1;
}

.power input:checked + .button .shadow {
  opacity: 0;
}

.power .button {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(olive 0%, #575700 30%, #575700 70%, olive 100%);
  background-color: #9b0621;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: translateZ(20px) rotateX(-25deg);
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  transform-origin: center center -20px;
  transform-style: preserve-3d;
}

.power .button::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(
        rgb(255 255 255 / 80%) 10%,
        rgb(255 255 255 / 30%) 30%,
        #4d4d00 75%,
        #1a1a00
      )
      50% 50%/97% 97%,
    #990;
  background-repeat: no-repeat;
  transform: rotateX(-90deg);
  content: "";
  transform-origin: top;
}

.power .button::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(#4d4d00, #1a1a00);
  box-shadow: 0 50px 8px 0 black, 0 80px 20px 0 rgb(0 0 0 / 50%);
  transform: translateY(50px) rotateX(-90deg);
  content: "";
  transform-origin: top;
}

.power .light {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#a6ff66, yellow 40%, transparent 70%);
  opacity: 0;
  animation: light-off 1s;
}

.power .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent 30%, rgb(77 77 0 / 70%) 70%);
  background-size: 10px 10px;
}

.power .characters {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, white) 50% 20%/5% 20%,
    radial-gradient(
        circle,
        transparent 50%,
        white 52%,
        white 70%,
        transparent 72%
      )
      50% 80%/33% 25%;
  background-repeat: no-repeat;
}

.power .shine {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, transparent 3%) 50% 50%/97% 97%,
    linear-gradient(
        rgb(255 255 255 / 50%),
        transparent 50%,
        transparent 80%,
        rgb(255 255 255 / 50%)
      )
      50% 50%/97% 97%;
  background-repeat: no-repeat;
  opacity: 0.3;
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
}

.power .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 70%, rgb(0 0 0 / 80%));
  background-repeat: no-repeat;
  opacity: 1;
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes light-off {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
}
