.row {
  position: relative;
  display: flex;
  gap: var(--spacing-md);
  padding-top: var(--spacing-xs);
  padding-left: calc(var(--spacing-sm) + 16px);
  padding-right: calc(var(--spacing-sm) + 16px);
  padding-bottom: var(--spacing-sm);
  &:first-of-type {
    /* background: linear-gradient(
      to bottom,
      hsl(350deg 40% 5%) 0%,
      hsl(350deg 40% 15%) 1.5%,
      hsl(350deg 40% 25%) 3%,
      hsl(350deg 40% 30%) 4.5%,
      hsl(350deg 40% 32.5% / 90%) 6%,
      hsl(350deg 40% 35%) 10%,
      hsl(350deg 40% 20% / 90%) 94%,
      hsl(350deg 40% 18.5%) 95.5%,
      hsl(350deg 40% 15%) 97%,
      hsl(350deg 40% 10%) 98.5%,
      hsl(350deg 40% 5%) 100%
    ); */
    box-shadow: inset 1px 0 2px hsl(0deg 0% 5% / 100%),
      inset -1px 0 2px hsl(0deg 0% 5% / 100%);
  }

  &:nth-of-type(2) {
    /* background: linear-gradient(
      to bottom,
      hsl(45deg 40% 5%) 0%,
      hsl(45deg 40% 15%) 1.5%,
      hsl(45deg 40% 25%) 3%,
      hsl(45deg 40% 30%) 4.5%,
      hsl(45deg 40% 32.5% / 90%) 6%,
      hsl(45deg 40% 35%) 10%,
      hsl(45deg 40% 20% / 90%) 94%,
      hsl(45deg 40% 18.5%) 95.5%,
      hsl(45deg 40% 15%) 97%,
      hsl(45deg 40% 10%) 98.5%,
      hsl(45deg 40% 5%) 100%
    ); */
    box-shadow: inset 1px 0 2px hsl(0deg 0% 5% / 100%),
      inset -1px 0 2px hsl(0deg 0% 5% / 100%);
  }

  &:last-of-type {
    /* background: linear-gradient(
      to bottom,
      hsl(160deg 40% 5%) 0%,
      hsl(160deg 40% 15%) 1.5%,
      hsl(160deg 40% 25%) 3%,
      hsl(160deg 40% 30%) 4.5%,
      hsl(160deg 40% 32.5% / 90%) 6%,
      hsl(160deg 40% 35%) 10%,
      hsl(160deg 40% 20% / 90%) 94%,
      hsl(160deg 40% 18.5%) 95.5%,
      hsl(160deg 40% 15%) 97%,
      hsl(160deg 40% 10%) 98.5%,
      hsl(160deg 40% 5%) 100%
    ); */
    box-shadow: inset 1px 0 2px hsl(0deg 0% 5% / 100%),
      inset -1px 0 2px hsl(0deg 0% 5% / 100%);
  }
}

.screw {
  position: absolute;
  z-index: 101;
  width: 12px;
  height: 12px;
  background: radial-gradient(
    circle at center,
    hsl(217deg 20% 25%) 0%,
    hsl(217deg 20% 20%) 30%,
    hsl(217deg 20% 15%) 60%,
    hsl(217deg 20% 10%) 100%
  );
  border-radius: 50%;
}

.screw::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: linear-gradient(
      90deg,
      transparent 40%,
      hsl(217deg 20% 5% / 80%) 40%,
      hsl(217deg 20% 5% / 80%) 60%,
      transparent 60%
    ),
    linear-gradient(
      0deg,
      transparent 40%,
      hsl(217deg 20% 5% / 80%) 40%,
      hsl(217deg 20% 5% / 80%) 60%,
      transparent 60%
    );
  border-radius: 1px;
  transform: translate(-50%, -50%) rotate(45deg);
  content: "";
}

.screwTopLeft {
  composes: screw;
  top: 4px;
  left: 4px;
}

.screwTopRight {
  composes: screw;
  top: 4px;
  right: 4px;
}

.screwBottomLeft {
  composes: screw;
  bottom: 4px;
  left: 4px;
}

.screwBottomRight {
  right: 4px;
  bottom: 4px;
  composes: screw;
}
