body {
  margin: 0;
  font: inherit;
  font-size: 100%;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
}

*,
::before,
::after {
  box-sizing: border-box;
}
