.sectionTitle {
  padding: var(--spacing-xs);
  background-color: hsl(0deg 0% 100% / 10%);
  color: var(--color-text-primary);
  font-size: var(--font-size-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1rem;
  word-break: break-all;
  height: 72px;
  text-align: center;
  text-transform: uppercase;
}

.outerRow {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:first-of-type {
    /* background: linear-gradient(
      to bottom,
      hsl(270deg 40% 5%) 0%,
      hsl(270deg 40% 15%) 0.5%,
      hsl(270deg 40% 25%) 1%,
      hsl(270deg 40% 30%) 1.5%,
      hsl(270deg 40% 32.5% / 90%) 3%,
      hsl(270deg 40% 35%) 5%,
      hsl(270deg 40% 20% / 90%) 94%,
      hsl(270deg 40% 18.5%) 98.5%,
      hsl(270deg 40% 15%) 99%,
      hsl(270deg 40% 10%) 99.5%,
      hsl(270deg 40% 5%) 100%
    ); */
    box-shadow: inset 1px 0 2px hsl(0deg 0% 5% / 100%),
      inset -1px 0 2px hsl(0deg 0% 5% / 100%);
  }

  &:nth-of-type(2) {
    /* background: linear-gradient(
      to bottom,
      hsl(210deg 50% 5%) 0%,
      hsl(210deg 50% 15%) 0.5%,
      hsl(210deg 50% 25%) 1%,
      hsl(210deg 50% 30%) 1.5%,
      hsl(210deg 50% 32.5% / 90%) 3%,
      hsl(210deg 50% 35%) 5%,
      hsl(210deg 50% 20% / 90%) 94%,
      hsl(210deg 50% 18.5%) 98.5%,
      hsl(210deg 50% 15%) 99%,
      hsl(210deg 50% 10%) 99.5%,
      hsl(210deg 50% 5%) 100%
    ); */
    box-shadow: inset 1px 0 2px hsl(0deg 0% 5% / 100%),
      inset -1px 0 2px hsl(0deg 0% 5% / 100%);
  }

  &:last-of-type {
    /* background: linear-gradient(
      to bottom,
      hsl(15deg 50% 5%) 0%,
      hsl(15deg 50% 15%) 0.5%,
      hsl(15deg 50% 25%) 1%,
      hsl(15deg 50% 30%) 1.5%,
      hsl(15deg 50% 32.5% / 90%) 3%,
      hsl(15deg 50% 35%) 5%,
      hsl(15deg 50% 20% / 90%) 94%,
      hsl(15deg 50% 18.5%) 98.5%,
      hsl(15deg 50% 15%) 99%,
      hsl(15deg 50% 10%) 99.5%,
      hsl(15deg 50% 5%) 100%
    ); */
    box-shadow: inset 1px 0 2px hsl(0deg 0% 5% / 100%),
      inset -1px 0 2px hsl(0deg 0% 5% / 100%);
  }
}

.innerRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
  padding-right: calc(var(--spacing-sm) + 16px);
  padding-left: calc(var(--spacing-sm));
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-sm);
}

.screw {
  position: absolute;
  z-index: 101;
  width: 12px;
  height: 12px;
  background: radial-gradient(
    circle at center,
    hsl(217deg 20% 25%) 0%,
    hsl(217deg 20% 20%) 30%,
    hsl(217deg 20% 15%) 60%,
    hsl(217deg 20% 10%) 100%
  );
  border-radius: 50%;
}

.screw::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: linear-gradient(
      90deg,
      transparent 40%,
      hsl(217deg 20% 5% / 80%) 40%,
      hsl(217deg 20% 5% / 80%) 60%,
      transparent 60%
    ),
    linear-gradient(
      0deg,
      transparent 40%,
      hsl(217deg 20% 5% / 80%) 40%,
      hsl(217deg 20% 5% / 80%) 60%,
      transparent 60%
    );
  border-radius: 1px;
  transform: translate(-50%, -50%) rotate(45deg);
  content: "";
}

.screwTopLeft {
  composes: screw;
  top: 4px;
  left: 4px;
}

.screwTopRight {
  composes: screw;
  top: 4px;
  right: 4px;
}

.screwBottomLeft {
  composes: screw;
  bottom: 4px;
  left: 4px;
}

.screwBottomRight {
  right: 4px;
  bottom: 4px;
  composes: screw;
}
