.synthSides {
  position: relative;
  padding: 0 12px;
  width: fit-content;
  background: hsl(217deg 39% 15%);
  background: linear-gradient(
    180deg,
    hsl(0deg 0% 10%) 0%,
    hsl(217deg 39% 35%) 3%,
    hsl(217deg 39% 15%) 99%,
    hsl(0deg 0% 10%) 100%
  );
  border-right: 2px solid hsl(218deg 33% 22.5%);
  border-left: 2px solid hsl(218deg 33% 22.5%);
  border-radius: 4px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 100%;
    background: linear-gradient(
      90deg,
      hsl(217deg 25% 0% / 10%) 0 1%,
      hsl(217deg 30% 20%) 1% 2%,
      hsl(217deg 45% 15%) 4%,
      hsl(217deg 45% 15%) 96%,
      hsl(217deg 30% 20%) 98% 99%,
      hsl(217deg 25% 0% / 10%) 99% 100%
    );
    filter: blur(3px);
    border-radius: 4px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    background: linear-gradient(
      90deg,
      hsl(217deg 25% 0% / 10%) 0 1%,
      hsl(217deg 30% 20%) 1% 2%,
      hsl(217deg 45% 15%) 4%,
      hsl(217deg 45% 15%) 96%,
      hsl(217deg 30% 20%) 98% 99%,
      hsl(217deg 25% 0% / 10%) 99% 100%
    );
    filter: blur(3px);
    border-radius: 4px;
  }
}

.backPanel {
  height: 16px;
  background: linear-gradient(
    0deg,
    var(--color-off-black) 0 1px,
    hsl(217deg 45% 15%) 1px 2px,
    hsl(217deg 30% 20%) 4px,
    hsl(217deg 25% 10%)
  );
  border-bottom: 1px solid var(--color-off-black);
}

.synth {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1130px;
  border-right: 2px solid var(--color-off-black);
  border-left: 2px solid var(--color-off-black);
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 24px);
    margin-left: 12px;
    height: 12px;
    background: linear-gradient(
      to bottom,
      hsl(217deg 50% 25%) 0%,
      hsl(217deg 50% 8%) 100%
    );
    z-index: 100;
    box-shadow: inset 1px 0 2px hsl(0deg 0% 5% / 100%),
      inset -1px 0 2px hsl(0deg 0% 5% / 100%);
  }
}

.controlsContainer {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: var(--synth-bg);
}

.innerControlsContainer {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.horizontalIndent {
  margin-bottom: -2px;
  width: 100%;
  height: 8px;
  background: linear-gradient(
    0deg,
    hsl(217deg 20% 25% / 50%),
    hsl(217deg 40% 25%),
    hsl(217deg 10% 5%),
    hsl(217deg 30% 20%),
    hsl(217deg 50% 25%)
  );
  align-self: flex-end;
}

.keyRow {
  display: flex;
  overflow: clip;
}
